@import url(/blocks/rotation/rotation.css);

.header__square-pic {
  height: 568px;
  width: 568px;
  background: var(--blue);
  position: absolute;
  top: 64px;
  right: 0;
  animation: rotate 20s infinite linear;
  z-index: 0;
}