.kaufman__triangle {
    background: url('../../../images/kaufman-triangle.svg') center/contain no-repeat;
    width: 876px;
    height: 876px;
    position: absolute;
    right: -210px;
    top: 0px;
    z-index: -1;
  }