/* комментарии я убрал, так как не понял, что именно с ними сделать */
:root {
  --blue: #2f80ed;
  --black: #000;
  --gray: #f2f2f2;
  --darkgray: #1f1f1f;
  --white: #fff;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0 auto;
}
.link {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background: var(--gray);
  box-sizing: border-box;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.logo {
  max-width: 228px;
}
.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 608px;
  max-width: 765px;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background: var(--blue);
  position: absolute;
  top: 64px;
  right: 0;
}
.header__title {
  margin: 0;
  align-self: center;
  margin-left: 4rem;
  font-weight: 600;
  line-height: 96px;
  font-size: 6.375rem;
  max-width: 730px;
}
.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 10;
  max-width: 388px;
  line-height: 25px;
  font-size: 1.125rem;
}
.header__subtitle, 
.header__title, 
.logo_place_header {
  z-index: 50;
}
.header__link, .feynman__link {
  color: var(--blue);
}
.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 784px;
  width: 80%;
  margin: 100px auto;
  box-sizing: border-box;
}
.two-columns__title {
  width: 175px;
  line-height: 1.2;
  font-size: 1.125rem;
  color: var(--blue);
  font-weight: normal;
  margin: 0;
}
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  line-height: 34px;
  font-size: 1.5rem;
}
.two-columns__paragraph {
  margin: 0;
}
.two-columns__span-accent {
  font-weight: 600;
}
.digits {
  text-align: center;
  margin-bottom: 100px;
  box-sizing: border-box;
}
.section-title {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  line-height: 1.15;
  font-size: 3.75rem;
  font-weight: 600;
}
.section-subtitle {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 1.5rem;
}
.table {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  max-width: 1100px;
  margin: 3.75rem auto 0;
  justify-content: space-between;
  row-gap: 3.75rem;
  list-style: none;
  padding: 0;
}
.table__cell {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  font-weight: 600;
}
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 1.125rem;
}
.feynman {
  background: url('/images/feynman.png') left bottom no-repeat;
  background-color: var(--gray);
  height: 100vh;
  max-height: 890px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.375rem;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.feynman__title {
  margin: 0;
  line-height: 1.15;
  font-size: 7.5rem;
  font-weight: 600;
  max-width: 648px;
}
.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 2.25rem;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 2.25rem;
}
.kaufman {
  background-color: var(--darkgray);
  text-align: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5.625rem 0;
}
.section-title_theme_dark {
  color: var(--white);
  z-index: 10;
}
.section-subtitle_theme_dark {
  color: var(--white);
  z-index: 10;
}
.table_theme_dark {
  color: var(--white);
  margin-bottom: 0;
  z-index: 10;
  row-gap: 5rem;
  margin-top: 5rem;
}
.table__cell_theme_dark {
  width: 200px;
  color: var(--white);
  margin-right: 0;
  z-index: 10;
}
.table__heading_theme_dark {
  color: var(--white);
}
.table__text_theme_dark {
  color: var(--white);
}
.kaufman__triangle {
  background: url('/images/kaufman-triangle.svg') center/contain no-repeat;
  width: 876px;
  height: 876px;
  position: absolute;
  right: -210px;
  top: -5px;
}
.footer {
  background-color: var(--darkgray);
  color: var(--white);
  min-height: 350px;
  height: 350px;
  padding: 3.75rem 0 2.5rem;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__author {
  margin: 1.125rem 0;
  line-height: 25px;
  font-size: 1.125rem;
}
.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 1.125rem;
  font-weight: 600;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 1rem;
}
.footer__column-link {
  display: flex;
  gap: 0.625rem;
  font-size: 1.125rem;
}